

p {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}


label {
    color:green;
    text-decoration: underline;
    margin-right: 15px;
}

 .db {
   margin-bottom: 20px;
 }

 .button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
 }
